$darkgrey: rgb(40, 40, 40);
$lightgrey: rgb(180, 180, 180);

.text {
  font-family: Open Sans;
  font-weight: 100;
  color: $lightgrey;
}

body {
  background-color: $darkgrey;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

.outer-container {
  display: flex;
  flex-direction: row;

  height: 100%;

  .left-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    .time-container {
      font-size: 72px;

      margin-bottom: 50px;
    }

    .n-judah-container {
      flex: 1;

      .n-judah-title {
        font-size: 56px;
        margin-bottom: 24px;
      }
      .n-judah-etas-container {
        .n-judah-eta {
          font-size: 36px;
          margin-bottom: 16px;
        }
        .heavy {
          font-weight: 900;
          font-size: 44px;
        }
      }
    }

    .fun-fact-container {
      font-size: 24px;
      height: 70px;
    }
  }

  .divider {
    background-color: $lightgrey;
    width: 12px;
    transform: skew(15deg);
  }

  .right-container {
    width: 500px;

    display: flex;
    flex-direction: column;

    .date-container {
      font-size: 36px;
      margin-bottom: 80px;
    }
    .forecast-container {
      font-size: 36px;
      margin-bottom: 80px;
      margin-left: 40px;
    }
    .temperature-container {
      font-size: 36px;
      margin-left: 80px;
    }
  }
}
